/* Navigation */
#navbar{
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    margin: 1.5px 1.5px;
}


/* Home */
#home{
    height: 370px;
}

#home::before{
    height: 700px;
}

/* Services Section */
#services{
    flex-direction: column;
}

/* Client Section */
#clients{
    overflow: hidden;
}

/* Utility CLasses */
